<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-blue">
                <tr>
                    <th scope="col">Orgunit</th>
                    <th scope="col">Period</th>
                    <th scope="col">Intervention</th>
                    <th scope="col">Bottleneck</th>
                    <th scope="col">indicator</th>
                    <th scope="col">Root cause</th>
                    <th scope="col">Solution</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let urlElement of url">
                    <td> {{ urlElement.orgUnit }}</td>
                    <td>{{ urlElement.period }}</td>
                    <td>{{ urlElement.intervention }}</td>
                    <td>

                        <select value="Bottleneck">
                            <option value="Bottleneck">Bottleneck</option>
                            <option value="opt1">Opt1</option>
                            <option value="opt2">Opt2</option>
                        </select>
                    </td>
                    <td>
                        <select value="Indicators">
                            <option value="Indicators">Indicators</option>
                            <option value="opt1">Opt1</option>
                            <option value="opt2">Opt2</option>
                        </select>
                    </td>
                    <td><input type="text" placeholder="Enter root cause"></td>
                    <td><input type="text" placeholder="Enter Solution"></td>
                </tr>

            </tbody>
        </table>
        <div class="float-right">
            <button (click)="addRow()">Add new</button>
        </div>
    </div>
</div>