th {
    color: white;
}

.table-head {
    background-color: #0658f1;
}

.fixed-inputs {
    padding: 19px;
}

input {
    width: 100%;
    border: none;
}

select {
    border: none;
    background-color: transparent;
    width: 100%;
    opacity: 0.5;
}